html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #e8eaed;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.body__header {
    color: #202124;
    text-shadow: 1px 2px 3px rgb(112 112 112 / 27%);
}